/* test */
* {
    box-sizing: border-box;
}

body, html {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    width: 100vw;
    height: 100vh;
}

.nav {
    grid-area: 1 / 1 / span 2 / span 12;
    /*grid-column: 1 / span 12;*/
    border: 3px solid blue;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.side-bar {
    /*grid-area: 3 / 1 / span 9 / span 2;*/
    height: 100%;
    width: 100px;
    /*grid-column: 1 / span 3;*/
    border: 3px solid red;
    position: fixed;
}

.movie-container {
    grid-area: 4 / 5 / span 7 / span 7;
    /*grid-column: 4 / span 8;*/
    border: 3px solid green;
}

.footer {
    grid-area: 12 / 1 / span 1 / span 12;
    /*grid-column: 1 / span 12;*/
    border: 3px solid purple;
}

.modal {
    width: 75%;
    height: auto;
    max-width: 500px;
    background-color: orange;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    /*display: none;*/
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

img {
   width: 100%;
    height: 100%;
}


.movie-select {
    width: 100vw;
    /*height: 50%;*/
    /*overflow: auto;*/
    /*white-space: nowrap;*/
    display: flex;
}

.movieInfo {
    width: 18rem;
    display: inline-flex;
    flex-wrap: wrap;
}

.star {
    color: #bbb;
    font-size: 1.5em;
}
