/* test */
* {
    box-sizing: border-box;
}

body, html {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #292626;

}

#add-movie {
    flex-basis: 30px;
    width: 100px;
    align-self: center;
    margin-top: 20px;
}

.hamburger {
    height: 100%;
    min-height: 48px;
    flex-basis: 70px;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.banner-add {
    width: 100%;
    height: 50px;
    color: white;
    background-color: #5656;
}

.bars {
    padding: 3px;
    width: 50px;
    background-color: #bbbbbb;
    align-self: center;
    border-radius: 25px;
}

i {
    color: white;
    font-size: 3em;
    margin-right: 10px;
}


.main-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(18, 1fr);
    gap: 20px 0;
    width: 100%;
    height: 200%;
    /*max-width: 1400px;*/
    margin: auto;
}

.nav {
    width: 100vw;
    top: 0;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 48px !important;
}

.main-wrapper {
    margin: auto;
    height: 100%;
    max-height: 48px;
    /*max-width: 1400px;*/
}

.side-bar {
    height: 100%;
    width: 150px;
    position: fixed;
    background: rgb(59, 58, 58);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    /*top: 0;*/
    /*bottom: -50px;*/
}

.title-year-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#add-title, #add-year {
    width: 75%;
    height: 25px;
}

#close-side {
    align-self: flex-end;
    padding: 5px;
}

@keyframes sidebarTransition {
    from {width: 0}
    to {width: 150px}
}


.movie-container {
    grid-area: 1 / 4 / auto / span 6;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*grid-column: 4 / span 8;*/
}

.info-box {
    height: 250px;
    width: 150%;
    position: relative;
    right: 25%;
    display: grid;
    gap: 10px 0;
    grid-template: repeat(6, 1fr)/1fr;
    overflow-y: auto;
    align-self: baseline;
    text-align: center;
    color: white;
}

.modal {
    width: 60%;
    height: 300px;
    max-width: 500px;
    background-color: orange;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    align-items: center;
}

.edit-movie-modal {
    width: 75%;
    height: auto;
    max-width: 500px;
    background-color: orange;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.img {

}

.movie-poster {
    height: 300px;
    width: auto;
}


.star {
    color: #bbb;
    font-size: 1.5em;
}

.close {
    float: right;
}

.movie-functions {
    cursor: pointer;
}

.video-player {
    width: 100%;
    max-width: 350px;
}

.movie-select {
    grid-area: 5 / 1 / span 10 / span 12;
    /*margin-top: 50px;*/
    text-align: center;
    display: flex;
    overflow-x: auto;
}

dl {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 12rem;
}

.footer {
    grid-area: 17 / 1 / span 2 / span 12;
    background: black;

}


/* beginning of media queries */

@media screen and (min-width: 456px) {
    .movie-select {
        /*grid-area: 12 / 1 / span 11 / span 12;*/
    }

}

@media screen and (min-width: 596px) {
    .movie-select {
        grid-area: 5 / 1 / span 12 / span 12;
    }
    .info-box {
        grid-template: 1fr 1fr 1fr/ 1fr 1fr;

    }
}

@media screen and (min-width: 768px) {
    .info-box {
        /*grid-area: 5 / 8 / span 4 / span 4;*/
        height: 200px;
    }
    /*.movie-container {*/
    /*    grid-area: 3 / 2 / span 8 / span 8;*/
    /*    !*grid-column: 4 / span 8;*!*/
    /*}*/
    .movie-select {
        /*position: absolute;*/
        /*top: 900px;*/
        color: white;
        width: 100vw;
        display: flex;
        overflow-x: auto;
        text-align: center;
        /*overflow: auto;*/
    }
    dl {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
    }
    dt, dd {
        display: inline-block;
        width: 50%;

    }

}

