/* test */
* {
    box-sizing: border-box;
}

body, html {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #292626;

}
.hamburger {
    height: 100%;
    flex-basis: 70px;
    background: #bbbbbb;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.bars {
    padding: 3px;
    width: 50px;
    background-color: black;
    align-self: center;
    border-radius: 25px;
}

i {
    color: white;
    font-size: 3em;
    margin-right: 10px;
}

a {
   /*flex-grow: 1;*/
}

.main-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    width: 100vw;
    height: 100vh;
}

.nav {
    grid-area: 1 / 1 / span 1 / span 12;
    /*grid-column: 1 / span 12;*/
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: rgba(0,0,0,.5);
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.side-bar {
    /*grid-area: 3 / 1 / span 9 / span 2;*/
    height: 100%;
    width: 150px;
    /*grid-column: 1 / span 3;*/
    border: 1px inset black;
    position: fixed;
    background: rgba(59, 58, 58, .8);
    color: white;
    /*display: none;*/
}

@keyframes sidebarTransition {
    from {width: 0}
    to {width: 150px}
}


.movie-container {
    grid-area: 3 / 3 / span 8 / span 8;
    /*grid-column: 4 / span 8;*/
}

.info-box {
    grid-area: 12 / 1 / span 1 / span 12;

    /*grid-column: 1 / span 12;*/
    border: 3px solid purple;
}

.modal {
    width: 75%;
    height: auto;
    max-width: 500px;
    background-color: orange;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    display: none;
}

.edit-movie-modal {
    width: 75%;
    height: auto;
    max-width: 500px;
    background-color: orange;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.img {
    width: 18rem;
}

.movie-poster {
    max-height: 436px;
}


.star {
    color: #bbb;
    font-size: 1.5em;
}

#edit, #edit-movie {
    /*display: none;*/
}

.close {
    float: right;
}

.movie-functions {
    cursor: pointer;
}

.video-player {
    width: 100%;
    max-width: 350px;
}

.movie-select {
    margin-top: 50px;
}

@media screen and (min-width: 500px) {
    .info-box {
        grid-area: 12 / 1 / span 1 / span 12;
        position: relative;
        top: 50px;

    }

}

@media screen and (min-width: 768px) {
    .info-box {
        grid-area: 5 / 8 / span 4 / span 4;
    }
    .movie-container {
        grid-area: 3 / 2 / span 8 / span 8;
        /*grid-column: 4 / span 8;*/
    }
    .movie-select {
        margin-top: 0;
        color: white;
        width: 100vw;
        display: flex;
        overflow-x: auto;
        text-align: center;
        /*overflow: auto;*/
    }
    dl {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
    }
    dt, dd {
        display: inline-block;
        width: 50%;

    }
    .img {
        margin: 10px;
    }

}

